<div class="legend-panel">

    <!-- Панель для размещения дерева легенд -->
    <div data-dojo-attach-point="legendTreePane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'center'"
         style="padding: 0">
    </div>
</div>

